@import '~shared/styles/mixins';
@import '~shared/styles/variables';

.input-toggle {
  $block: &;
  $width_toggle: 6rem;
  $height_toggle: 2.3rem;
  $width_toggle-mark: 1.3rem;

  position: relative;
  display: inline-flex;
  flex-direction: column;
  min-height: $height_toggle;
  color: theme-var($color_main);
  font-family: $font-family_h3;
  font-weight: bold;
  font-size: $font-size_h3;
  text-transform: uppercase;
  line-height: $height_toggle;
  cursor: pointer;

  &__state {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &__box {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: $width_toggle;
    height: $height_toggle;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: inset 0 0 0.3rem 0.1rem theme-var($color_surface);
    transition: padding 0.2s ease-in-out;

    #{$block}__state:focus ~ & {
      box-shadow: inset 0 0 0.3rem 0.1rem theme-var($color_surface),
        0 0 0 0.1rem theme-var($color_secondary);
    }
  
    #{$block}__state:checked ~ & {
      padding-left: $width_toggle - $width_toggle-mark - 0.4rem - 2*0.1rem;
    }

    #{$block}__state:disabled ~ & {
      box-shadow: inset 0 0 0.1rem 0.1rem theme-var($color_surface);
      filter: opacity(0.5);
      pointer-events: none;
    }
  }

  &__mark {
    display: inline-block;
    min-width: $width_toggle-mark;
    min-height: $width_toggle-mark;
    background: theme-var($color_surface);
    border-radius: 50%;
    box-shadow: 0 0 0.3rem 0.1rem theme-var($color_surface);
    transition: all 0.2s ease-in-out;

    #{$block}__state:checked ~ #{$block}__box & {
      background: theme-var($color_primary);
      box-shadow: 0 0 0.3rem 0.1rem theme-var($color_primary);
    }

    #{$block}__state:disabled ~ #{$block}__box & {
      box-shadow: none;
    }
  }
}
