extends ../_layout.pug

block append variables
  - const pageTitle = 'Examples'

block content
  .examples.js-examples
    .examples__item
      div(class="js-example-slider", style="height: 100%")
    //- .examples__item
    //-   div(class="js-example-slider", style="height: 100%")
