@import '~shared/styles/mixins';
@import '~shared/styles/variables';

.input-field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 32rem;

  &__label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-family: $font-family_h3;
    font-weight: bold;
    font-size: $font-size_h3;
    line-height: 1.5rem;
    text-transform: uppercase;
  }

  &__field {
    min-height: 2.6rem;
    width: 100%;
    min-width: 5rem;
    max-width: 12rem;
    padding: 0.6rem 1.2rem;
    background: inherit;
    border: 0;
    border-radius: 1rem;
    box-shadow: inset 0 0 0.3rem 0.1rem theme-var($color_surface);
    color: theme-var($color_main);
    font-size: 1.2rem;
    outline: none;

    &:focus,
    &:hover {
      box-shadow: inset 0 0 0.3rem 0.1rem theme-var($color_surface),
        0 0 0 0.1rem theme-var($color_secondary);
      color: theme-var($color_secondary);
    }

    &:disabled {
      box-shadow: inset 0 0 0.1rem 0.1rem theme-var($color_surface);
      filter: opacity(0.5);
      pointer-events: none;
    }

    &::placeholder {
      color: theme-var($color_surface);
    }
  }
}
