$font-family_h1: 'Open Sans', sans-serif;
$font-family_h2: 'Open Sans', sans-serif;
$font-family_h3: 'Open Sans', sans-serif;
$font-family_body: 'Open Sans', sans-serif;

$font-size_h1: 2.4rem;
$font-size_h2: 1.9rem;
$font-size_h3: 1.2rem;
$font-size_body: 1.4rem;

$breakpoint_laptop: 'screen and (max-width: 1024px)';
$breakpoint_tablet: 'screen and (max-width: 768px)';
$breakpoint_mobile_l: 'screen and (max-width: 425px)';
$breakpoint_mobile_m: 'screen and (max-width: 375px)';
$breakpoint_mobile_s: 'screen and (max-width: 320px)';

$color_background: --color_background;
$color_surface: --color_surface;
$color_main: --color_main;
$color_primary: --color_primary;
$color_primary_light: --color_primary_light;
$color_primary_dark: --color_primary_dark;
$color_secondary: --color_secondary;

$theme-map_light: (
  $color_background: #FFFCF2,
  $color_surface: #CCC4B8,
  $color_main: #6C6760,
  $color_primary: #FF3F00,
  $color_primary_light: #FFBA08,
  $color_primary_dark: #D00000,
  $color_secondary: #252422,
);

$theme-map_dark: (
  $color_background: #363030,
  $color_surface: #0B0B0A,
  $color_main: #CCC4B8,
  $color_primary: #FF3F00,
  $color_primary_light: #FFBA08,
  $color_primary_dark: #D00000,
  $color_secondary: #FFFCF2,
);

$theme-map_disabled: (
  $color_primary: #CCC5B9,
  $color_primary_light: #CCC5B9,
  $color_primary_dark: #CCC5B9,
);
