@import './mixins';
@import './fonts';
@import './variables';

:root {
  @include spread-map($theme-map_light);
}

:root.dark {
  @include spread-map($theme-map_dark);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 62.5%; // 1rem = 10px

  @media #{$breakpoint_mobile_l} {
    font-size: 56.25%; // 1rem = 9px
  }

  @media #{$breakpoint_mobile_m} {
    font-size: 50%; // 1rem = 8px
  }
}

body {
  background: theme-var($color_background);
  color: theme-var($color_main);
  font-family: $font-family_body;
  font-size: $font-size_body;
  line-height: 1;
}

h1 {
  font-family: $font-family_h1;
  font-size: $font-size_h1;
}

h2 {
  font-family: $font-family_h2;
  font-size: $font-size_h2;
}

h3 {
  font-family: $font-family_h3;
  font-size: $font-size_h3;
}
