block variables

block mixins

doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description" content="The second practical task for MetaLamp Frontend education program")
    meta(name="keywords" content="MetaLamp, Frontend")
    meta(name="author" content="Aleinbanger")

    link(rel="apple-touch-icon" sizes="120x120" href="/demo/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/demo/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/demo/favicons/favicon-16x16.png")
    link(rel="manifest" href="/demo/favicons/site.webmanifest")
    link(rel="mask-icon" href="/demo/favicons/safari-pinned-tab.svg" color="#ff3f00")
    link(rel="shortcut icon" href="/demo/favicons/favicon.ico")
    meta(name="msapplication-TileColor" content="#252422")
    meta(name="msapplication-config" content="/demo/favicons/browserconfig.xml")
    meta(name="theme-color" content="#252422")

    title #{pageTitle}

  body

    block content
