extends ../_layout.pug

block append variables
  - const pageTitle = 'Test'

block content
  .form-elements.js-form-elements
    .form-elements__column
      .form-elements__item
        input(class="js-temp-input")
